<div class="wrapper-new" id="homepage-new">
  <%= render partial: 'header', locals: {page: 'home-top'} %>
  <div class="w-section hero-section centered home">
    <div class="w-container" data-ix="new-interaction">
      <h1 class="hero-heading" data-ix="fade-in-bottom-page-loads">We make marketing look good</h1>
      <div class="hero-subheading" data-ix="fade-in-bottom-page-loads">Bento makes it simple to work with expert designers and front-end developers</div>
      <div data-ix="fade-in-bottom-page-loads"><a class="button hero" href="/projects/start" data-ix="fade-in-bottom-page-loads">start your project</a>
      </div>
    </div><img class="downarrow" src="new_images/Oval 4.png" width="90">
  </div>
  <div class="w-section section">
    <div class="w-container servicescontainer" data-ix="fade-in-bottom-scroll-in">
      <h2 class="section-heading centered services-title">professional design for your brand</h2>
      <div class="section-subheading center">Work with expert designers and front-end developers to grow your company</div>
      <div class="w-row">
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6 servicesdiv">
          <a class="w-inline-block servicelink" href="/products-pricing?service=presentation"><img src="new_images/presentations.png" width="60">
            <h6>presentations</h6>
          </a>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6 servicesdiv">
          <a class="w-inline-block servicelink" href="/products-pricing?service=white_paper"><img src="new_images/White Paper.png" width="60">
            <h6>white papers</h6>
          </a>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6 servicesdiv">
          <a class="w-inline-block servicelink" href="/products-pricing?service=email"><img src="new_images/Email.png" width="60">
            <h6>Emails</h6>
          </a>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6 servicesdiv">
          <a class="w-inline-block servicelink" href="/products-pricing?service=social_content"><img src="new_images/Social media.png" width="60">
            <h6>social content</h6>
          </a>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6 servicesdiv">
          <a class="w-inline-block servicelink" href="/products-pricing?service=landing_page"><img src="new_images/Landing Page.png" width="60">
            <h6>landing pages</h6>
          </a>
        </div>
        <div class="w-col w-col-2 w-col-small-4 w-col-tiny-6 servicesdiv">
          <a class="w-inline-block servicelink" href="/products-pricing?service=custom"><img src="new_images/custom.png" width="60">
            <h6>custom</h6>
          </a>
        </div>
      </div><a class="button service" href="/products-pricing" data-ix="fade-in-bottom-page-loads">See all services</a>
    </div>
  </div>
  <div class="w-section section accent">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered white">beautiful design comes from great designers</h2>
        <div class="section-subheading center off-white">Only 8% of designers who apply become bento certified</div>
      </div>
      <div class="white-box transparent designerbox">
        <div class="w-row designers">
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Mike.png" width="100">
            <h4 class="designerheading"><a class="link" target="_blank" href="https://dribbble.com/zer0mike">mike h.</a></h4>
            <div class="designertext">User Interface designer
              <br>10+ years in the design industry
              <br>expert in ui and ux</div>
          </div>
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Jonathan.png" width="100">
            <h4 class="designerheading"><a class="link" href="https://dribbble.com/lilypad">Jonathan O.</a></h4>
            <div class="designertext">front-end web developer
              <br>Specializes in responsive design
              <br>Designer and developer hybrid</div>
          </div>
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Aaron.png" width="100">
            <h4 class="designerheading"><a class="link" href="https://dribbble.com/sananes">AARON S.</a></h4>
            <div class="designertext">Veteran visual designer
              <br>web and mobile design
              <br>DESIGNER AND DEVELOPER HYBRID</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section first">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered section2">How it works</h2>
        <div class="section-subheading center">Its easy to get work done with bento</div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="white-box" data-ix="fade-in-left-scroll-in"><img class="grid-image" src="new_images/Guidelines.png" width="50">
            <h3 class="steps">step 1</h3>
            <p>Fill out your creative brief and tell us about your project and brand guidelines.</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="white-box" data-ix="fade-in-top-scroll-in"><img class="grid-image" src="new_images/Pencil.png">
            <h3 class="steps">step 2</h3>
            <p>We handpick a designer for your project.&nbsp;They start working immediately.&nbsp;</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="white-box" data-ix="fade-in-right-scroll-in"><img class="grid-image" src="new_images/Files.png">
            <h3 class="steps">step 3</h3>
            <p>After two rounds of reviews you receive your finished work.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section accent companies">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered white companies">trusted by startups big and small</h2>
        <div class="section-subheading center">Professional content that fuels growth</div>
      </div>
    </div>
    <div class="w-row companiesrow">
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Yammer.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Soldsie.png" width="240">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/DataHug.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Hipmunk.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Unity.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/boatbound.png">
      </div>
    </div>
  </div>
  <div class="w-section section accent start">
    <div class="w-container">
      <div class="section-title-group" data-ix="fade-in-bottom-scroll-in">
        <h2 class="section-heading centered white">ready to get started?</h2>
        <div class="section-subheading center off-white">Start working with a professional designer now&nbsp;</div>
      </div>
      <div class="white-box transparent" data-ix="fade-in-top-scroll-in"><a class="button bottom" href="/projects/start">start your project</a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="<%= asset_path 'webflow.js' %>"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  <%= render partial: 'dark_footer' %>
</div>
