<div class="wrapper welcome-wrapper wrapper-new" >
  <%= render partial: 'header', locals: {page: 'home-top'} %>
  <div class="w-section hero-section centered productsandpricing">
    <div class="w-container" data-ix="new-interaction">
      <h1 class="hero-heading" data-ix="fade-in-bottom-page-loads">Products and&nbsp;pricing</h1>
      <div class="hero-subheading services" data-ix="fade-in-bottom-page-loads">Custom marketing content on-demand</div>
    </div>
  </div>
  <div class="w-section section productandpricing">
    <div class="w-container">
      <div class="w-tabs tabs-wrapper" data-duration-in="500" data-duration-out="100">
        <div class="w-tab-menu tab-menu">
          <a class="w-tab-link w--current w-inline-block button tab" data-w-tab="Landing Pages"><img src="new_images/presentations.png" width="60">
            <div class="tabtext">presentations</div>
          </a>
          <a class="w-tab-link w-inline-block button tab" data-w-tab="Landing Pages 2"><img src="new_images/White Paper.png" width="60">
            <div class="tabtext">white papers</div>
          </a>
          <a class="w-tab-link w-inline-block button tab" data-w-tab="Landing Pages 3"><img src="new_images/Email.png" width="60">
            <div class="tabtext">emails</div>
          </a>
          <a class="w-tab-link w-inline-block button tab" data-w-tab="Landing Pages 4"><img src="new_images/Social media.png" width="60">
            <div class="tabtext">social content</div>
          </a>
          <a class="w-tab-link w-inline-block button tab" data-w-tab="Landing Pages 5"><img src="new_images/Landing Page.png" width="60">
            <div class="tabtext">landing pages</div>
          </a>
          <a class="w-tab-link w-inline-block button tab" data-w-tab="Landing Pages 6"><img src="new_images/custom.png" width="60">
            <div class="tabtext">custom</div>
          </a>
        </div>
        <div class="w-tab-content tab">
          <div class="w-tab-pane w--tab-active" data-w-tab="Landing Pages">
            <div class="productdiv">
              <h1 class="pandpheader">Presentations</h1>
              <h1 class="pandpheader sub">Starting at $100/pg</h1>
              <h1 class="slidetitle">Presentations are a time-tested way to persuade an audience, pitch your product or present your sales performance. Bento helps you create a great presentation by taking your information and turning it into a visual masterpiece.</h1>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <a href="new_images/presentation_big.png" class="image-popup-vertical-fit">
                    <img src="new_images/presentation_small.png" width="350" />
                  </a>
                </div>
                <div class="w-col w-col-6 w-clearfix imagecolum">
                  <h1 class="slidetitle include">All presentations include:</h1>
                  <h1 class="slidetitle secondpara">-Top notch design talent<br>-100%&nbsp;transfer of ownership<br>-Reviewed by a Bento Creative Director<br>-Consistent brand guidelines and visual tone<br>-Two rounds of revisions<br>-5 business day turn around</h1><a class="button tabs learnmore" href="/projects/start/?service=Presentation">get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Landing Pages 2">
            <div class="productdiv">
              <h1 class="pandpheader">White Papers</h1>
              <h1 class="pandpheader sub">Starting at $100/pg</h1>
              <h1 class="slidetitle">White papers and eBooks have become a staple in B2B marketing. &nbsp;White papers that are well-designed are a tested way to persuade, educate, and communicate unique information. Bento helps you create beautiful white papers and eBooks that will generate leads and assist sales enablement.</h1>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <a href="new_images/whitepaper_big.png" class="image-popup-vertical-fit">
                    <img src="new_images/whitepaper_small.png" width="350">
                  </a>
                </div>
                <div class="w-col w-col-6 w-clearfix imagecolum">
                  <h1 class="slidetitle include">All white papers and eBooks include:</h1>
                  <h1 class="slidetitle secondpara">-Top notch design talent<br>-100%&nbsp;transfer of ownership<br>-Reviewed by a Bento Creative Director<br>-Consistent brand guidelines and visual tone<br>-Two rounds of revisions<br>-5 business day turn around</h1><a class="button tabs learnmore" href="/projects/start/?service=White%20Paper">get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Landing Pages 3">
            <div class="productdiv">
              <h1 class="pandpheader">emails</h1>
              <h1 class="pandpheader sub">Starting at $395</h1>
              <h1 class="slidetitle">Email is an essential way that all businesses connect with their users and perspective users. Whether its a sales pitch, newsletter, or welcome message – Bento helps you create effective emails with a clear messages and calls to action.</h1>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <a href="new_images/email_big.png" class="image-popup-vertical-fit">
                    <img src="new_images/email_small.png" width="350">
                  </a>
                </div>
                <div class="w-col w-col-6 w-clearfix imagecolum">
                  <h1 class="slidetitle include">All emails include:</h1>
                  <h1 class="slidetitle secondpara">-Beautiful on-brand design<br>-100%&nbsp;transfer of ownership<br>-Reviewed by the Bento Creative Director<br>-Consistent brand identity and visual tone<br>-Two rounds of revisions<br>-5 business day turn around</h1><a class="button tabs learnmore" href="/projects/start/?service=Email">get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Landing Pages 4">
            <div class="productdiv">
              <h1 class="pandpheader">Social media content</h1>
              <h1 class="pandpheader sub">Starting at $100/post</h1>
              <h1 class="slidetitle">Bento helps you create visual content for Snapchat, Pinterest, Instagram, Facebook and Twitter.&nbsp;No matter what your marketing strategy, we can help you reach your users where they live. All content is designed specifically for your medium of choice or can be created from existing content.</h1>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <a href="new_images/social_big.jpg" class="image-popup-vertical-fit">
                    <img src="new_images/social_small.jpg" width="350">
                  </a>
                </div>
                <div class="w-col w-col-6 w-clearfix imagecolum">
                  <h1 class="slidetitle include">All Social Media projects include:</h1>
                  <h1 class="slidetitle secondpara">-Top notch design talent<br>-100%&nbsp;transfer of ownership<br>-Reviewed by the Bento Creative Director<br>-Consistent brand guidelines and visual tone<br>-Two rounds of revisions<br>-5 business day turn around</h1><a class="button tabs learnmore" href="/projects/start/?service=Social%20Media">get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Landing Pages 5">
            <div class="productdiv">
              <h1 class="pandpheader">landing pages</h1>
              <h1 class="pandpheader sub">Starting at $650</h1>
              <h1 class="slidetitle">Bento's experienced designers take help your business by creating beautiful, high converting landing pages.&nbsp;&nbsp;All pages are responsive and&nbsp;look great on tablets and mobile devices.&nbsp;No matter whether you’re B2B and collecting leads&nbsp;or a consumer app gearing up for launch, the right landing page will help you succeed.</h1>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <a href="new_images/landing_big.jpg" class="image-popup-vertical-fit">
                    <img src="new_images/landing_small.jpg" width="350">
                  </a>
                </div>
                <div class="w-col w-col-6 w-clearfix imagecolum">
                  <h1 class="slidetitle include">All landing pages include:</h1>
                  <h1 class="slidetitle secondpara">-Responsive design<br>-Top notch design talent<br>-100%&nbsp;transfer of ownership<br>-Reviewed by the Bento Creative Director<br>-Consistent brand guidelines and visual tone<br>-Two rounds of revisions<br>-5 business day turn around</h1><a class="button tabs learnmore" href="/projects/start/?service=Landing%20Page">get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-tab-pane" data-w-tab="Landing Pages 6">
            <div class="productdiv">
              <h1 class="pandpheader">custom</h1>
              <h1 class="pandpheader sub">Contact us</h1>
              <h1 class="slidetitle">Bento designers and front-end&nbsp;developers have decades of experience helping startups, agencies, and SMBs.&nbsp;&nbsp;If you have a project where design and development talent can help, feel free to start a project or contact us. We’d love to help!</h1>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <a href="new_images/custom_1.png" class="image-popup-vertical-fit">
                    <img src="new_images/custom_1.png" width="350">
                  </a>
                </div>
                <div class="w-col w-col-6 w-clearfix imagecolum">
                  <h1 class="slidetitle include">All projects include:</h1>
                  <h1 class="slidetitle secondpara">-Top notch design talent<br>-100%&nbsp;transfer of ownership<br>-Reviewed by the Bento Creative Director<br>-Consistent brand guidelines and visual tone<br>-Two rounds of revisions<br>-5 business day turn around</h1><a class="button tabs learnmore" href="/projects/start/?service=Custom">get started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section accent">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered white">beautiful design comes from great designers</h2>
        <div class="section-subheading center off-white">Only 8% of designers who apply become bento certified</div>
      </div>
      <div class="white-box transparent designerbox">
        <div class="w-row designers">
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Mike.png" width="100">
            <h4 class="designerheading"><a class="link" target="_blank" href="https://dribbble.com/zer0mike">mike h.</a></h4>
            <div class="designertext">User Interface designer
              <br>10+ years in the design industry
              <br>expert in ui and ux</div>
          </div>
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Jonathan.png" width="100">
            <h4 class="designerheading"><a class="link" href="https://dribbble.com/lilypad">Jonathan O.</a></h4>
            <div class="designertext">front-end web developer
              <br>Specializes in responsive design
              <br>Designer and developer hybrid</div>
          </div>
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Aaron.png" width="100">
            <h4 class="designerheading"><a class="link" href="https://dribbble.com/sananes">AARON S.</a></h4>
            <div class="designertext">Veteran visual designer
              <br>web and mobile design
              <br>DESIGNER AND DEVELOPER HYBRID</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section accent companies">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered white companies">trusted by startups big and small</h2>
        <div class="section-subheading center">Professional content that fuels growth</div>
      </div>
    </div>
    <div class="w-row companiesrow">
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Yammer.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Soldsie.png" width="240">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/DataHug.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Hipmunk.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Unity.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/boatbound.png">
      </div>
    </div>
  </div>
  <div class="w-section section accent start">
    <div class="w-container">
      <div class="section-title-group" data-ix="fade-in-bottom-scroll-in">
        <h2 class="section-heading centered white">ready to get started?</h2>
        <div class="section-subheading center off-white">Start working with a professional designer now&nbsp;</div>
      </div>
      <div class="white-box transparent" data-ix="fade-in-top-scroll-in"><a class="button bottom" href="/projects/start">start your project</a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="<%= asset_path 'webflow.js' %>"></script>
  <%= render partial: 'dark_footer' %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    
    var service = '<%= @service %>';
    console.log(service);
    $('.w-tab-pane').removeClass('w--tab-active');
    $('.w-tab-link').removeClass('w--current');
    switch(service) {
      case 'presentation':
        $('.w-tab-pane:nth-child(1)').addClass('w--tab-active');
        $('.w-tab-link:nth-child(1)').addClass('w--current');
        break;
      case 'white_paper':
        $('.w-tab-pane:nth-child(2)').addClass('w--tab-active');
        $('.w-tab-link:nth-child(2)').addClass('w--current');
        break;
      case 'email':
        $('.w-tab-pane:nth-child(3)').addClass('w--tab-active');
        $('.w-tab-link:nth-child(3)').addClass('w--current');
        break;
      case 'social_content':
        $('.w-tab-pane:nth-child(4)').addClass('w--tab-active');
        $('.w-tab-link:nth-child(4)').addClass('w--current');
        break;
      case 'landing_page':
        $('.w-tab-pane:nth-child(5)').addClass('w--tab-active');
        $('.w-tab-link:nth-child(5)').addClass('w--current');
        break;
      case 'custom':
        $('.w-tab-pane:nth-child(6)').addClass('w--tab-active');
        $('.w-tab-link:nth-child(6)').addClass('w--current');
        break;
    }

    // $('.image-popup-vertical-fit').magnificPopup({
    //   type: 'image',
    //   closeOnContentClick: true,
    //   mainClass: 'mfp-img-mobile',
    //   image: {
    //     verticalFit: true
    //   }
    // });

    $('.image-popup-vertical-fit').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      image: {
        verticalFit: false
      }
    });

    
  });
</script>
