<div class="wrapper welcome-wrapper wrapper-new" >
  <%= render partial: 'header', locals: {page: 'home-top'} %>
  <div class="w-section hero-section centered productsandpricing">
    <div class="w-container" data-ix="new-interaction">
      <h1 class="hero-heading" data-ix="fade-in-bottom-page-loads">white papers and ebooks</h1>
      <div class="hero-subheading" data-ix="fade-in-bottom-page-loads">Professional design for your marketing&nbsp;content</div>
    </div><a class="button hero" href="/projects/start">get started now</a>
  </div>
  <div class="w-section section first">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered section2">YOUR White papers DESERVE A BEAUTIFUL DESIGN</h2>
        <div class="section-subheading center">Bento makes it easy to create professional&nbsp;visual content that converts</div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="white-box"><img class="grid-image" src="new_images/Guidelines.png" width="50">
            <h3 class="steps">step 1</h3>
            <p>Send us your written content and tell us about your project and brand.</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="white-box"><img class="grid-image" src="new_images/Pencil.png">
            <h3 class="steps">step 2</h3>
            <p>You get connected with an expert designer who turns your content into a beautiful white paper.&nbsp;</p>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="white-box"><img class="grid-image" src="new_images/Files.png">
            <h3 class="steps">step 3</h3>
            <p>You receive your finished product after two rounds of reviews. Satisfaction guaranteed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <h2 class="section-heading centered companies section2 whitepaper">CONTENT THAT converts</h2>
      <div class="section-subheading center">White papers and ebooks guaranteed to grow your business</div>
      <div class="w-row">
        <div class="w-col w-col-5">
          <a href="new_images/whitepaper_big.png" class="image-popup-vertical-fit">
            <img src="new_images/whitepaper_small.png" width="300">
          </a>
        </div>
        <div class="w-col w-col-7">
          <h2 class="section-subheading center promo">White papers and eBooks have become a staple in B2B marketing.&nbsp;White papers that are well-designed are a tested way to persuade, educate, and communicate unique information.&nbsp;Bento helps you create beautiful white papers and eBooks that will generate leads and assist sales enablement.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <h2 class="section-heading centered companies section2 whitepaper">COLLABORATE EFFORTLESSLY</h2>
      <div class="section-subheading center">Bento gives you the tools to work smarter</div>
      <div class="w-row">
        <div class="w-col w-col-7">
          <img src="new_images/Bento.png" width="400">
        </div>
        <div class="w-col w-col-5">
          <h2 class="section-subheading center promo">-Communication tools<br>-Payment protection<br>-Top notch design talent<br>-100%&nbsp;transfer of ownership<br>-Secure online workplace<br>-Reviewed by a Bento Creative Director<br>-Consistent brand guidelines and visual tone<br>-Two rounds of revisions<br>-5 business day turn around</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section accent">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered white">beautiful design comes from great designers</h2>
        <div class="section-subheading center off-white">Only 8% of designers who apply become bento certified</div>
      </div>
      <div class="white-box transparent designerbox">
        <div class="w-row designers">
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Mike.png" width="100">
            <h4 class="designerheading"><a class="link" target="_blank" href="https://dribbble.com/zer0mike">mike h.</a></h4>
            <div class="designertext">User Interface designer
              <br>10+ years in the design industry
              <br>expert in ui and ux</div>
          </div>
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Jonathan.png" width="100">
            <h4 class="designerheading"><a class="link" href="https://dribbble.com/lilypad">Jonathan O.</a></h4>
            <div class="designertext">front-end web developer
              <br>Specializes in responsive design
              <br>Designer and developer hybrid</div>
          </div>
          <div class="w-col w-col-4 designercolumn"><img class="designerimage" src="new_images/Aaron.png" width="100">
            <h4 class="designerheading"><a class="link" href="https://dribbble.com/sananes">AARON S.</a></h4>
            <div class="designertext">Veteran visual designer
              <br>web and mobile design
              <br>DESIGNER AND DEVELOPER HYBRID</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section accent companies">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered white companies">trusted by startups big and small</h2>
        <div class="section-subheading center">Professional content that fuels growth</div>
      </div>
    </div>
    <div class="w-row companiesrow">
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Yammer.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Soldsie.png" width="240">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/DataHug.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Hipmunk.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/Unity.png">
      </div>
      <div class="w-col w-col-2 w-col-medium-4 w-col-small-6"><img src="new_images/boatbound.png">
      </div>
    </div>
  </div>
  <div class="w-section section accent start">
    <div class="w-container">
      <div class="section-title-group" data-ix="fade-in-bottom-scroll-in">
        <h2 class="section-heading centered white">ready to make professional white papers?</h2>
        <div class="section-subheading center off-white">Start working with a expert designer now&nbsp;</div>
      </div>
      <div class="white-box transparent" data-ix="fade-in-top-scroll-in"><a class="button bottom" href="products-pricing.html">start your project</a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="<%= asset_path 'webflow.js' %>"></script>
  <%= render partial: 'dark_footer' %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {

    $('.image-popup-vertical-fit').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      image: {
        verticalFit: false
      }
    });

  });
</script>