/* ================================================================ *\
    #Reset
\* ================================================================ */

* { padding: 0; margin: 0; outline: 0; }

/* ================================================================ *\
    #Base
\* ================================================================ */

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section { display: block; }

html,
body { height: 100%; }

html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { min-width: 100%; background: #fff; font-family:'Open Sans', Arial, sans-serif; font-size: 16px; line-height: 30px; color: #718097; -webkit-font-smoothing:antialiased; }

a { text-decoration: none; color: #5a64e7; }
a:hover { text-decoration: underline; }

img { border: 0; vertical-align: middle; }
strong { font-weight: bold; }
small { font-size: 80%; }c

button,
input,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -webkit-font-smoothing:antialiased; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

button { overflow: visible; }
textarea { overflow: auto; resize: none; }

table { border-collapse: collapse; border-spacing: 0; }
th,
td { padding: 0; }

/* ================================================================ *\
    #Helpers
\* ================================================================ */

.alignleft { float: left; }
.alignright { float: right; }
.hidden { display: none; visibility: hidden; }

.tr { text-align: right; }

.shell { width: 1200px; margin: 0 auto; }

html, body { height: 100%; }
.wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -92px; }
.footer, #footer-push { height: 92px; }

.slide-foot:before,
.slide-foot:after,
.form-cols:before,
.form-cols:after,
.shell:before,
.shell:after,
.clearfix:before,
.clearfix:after { display: table; content: ' '; }

.slide-foot:after,
.shell:after,
.form-cols:after,
.clearfix:after { clear: both; }

.top { height:1px; width: 100%; position: fixed; top:0; left:0; }

.wrapper { overflow: hidden; }
.header { padding: 0 0; /*border-bottom:2px solid #ededed; */position: relative; z-index: 2; background: #fff; }
.header .logo { width: 120px; float:left; height:28px; font-size: 0; line-height: 0; text-indent: -4000px; background: url(/images/logo2-2.png) no-repeat 0 0; margin: 31px 0; }
.header .nav { float:right; font-family:'proxima_nova_rgbold', arial, serif; font-size:13px; text-transform: uppercase; }
.header.text-capital .nav {text-transform: capitalize;}
.header .nav ul { list-style: none outside none; }
.header .nav li { float: left; padding-left: 50px;  }
.header .nav a { color: #718097; float: left; padding: 30px 0; position: relative; }
.header .nav a:before { content: ''; position: absolute; top: 0; left: 0; right: 0; border-top: 3px solid; opacity: 0; }
.header .nav a:hover { text-decoration: none; color: #5661e8; }
.header .nav .current a { color: #5661e8; }
.header .nav .current a:before { opacity: 1; }

.header-top { position: absolute; top:0; left:0; width: 100%; z-index: 99; border-bottom:0; background: transparent; }
.header-top .nav a { color: #fff; }
.header-top .logo { background: url(/images/logo-2-1.png) no-repeat 0 0;  }


.header-secondary { position: fixed; top:-100%; left:0; width: 100%; z-index: 999; background: #fff; 
-webkit-transition: all 0.3s; 
     -o-transition: all 0.3s; 
        transition: all 0.3s; 
}
.fixed .header-secondary { top:0; }
    
.intro { height:762px; font-family:'Open Sans', arial, serif; color: #fff;  }
.intro.hide { height:0 !important; overflow: hidden;  }
.intro-content {  text-align:center; padding-top:294px; font-size:21px; }
.intro-content h2 { color: #fff; font-weight:600; font-size:38px; padding-bottom:20px; line-height:40px;  }
.intro-content p { padding-bottom: 58px; }


/* ===========================
    #Tooltip
============================ */

/* Core (do not change) */
[data-tooltip] { position: relative; }
 
[data-tooltip]:after,
[data-tooltip]:before { display: none; position: absolute; bottom: 100%; left: 50%; z-index: 9999;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
[data-tooltip]:before { content: ''; border-width: .8em .8em 0; border-style: solid outset; border-color: #000 transparent; }
[data-tooltip]:after { content: attr(data-tooltip); background: #000; color: #fff; min-width: 230px; max-width: 400px; padding: .2em .5em; margin-bottom: .8em; line-height: 1.4; }
 
[data-tooltip]:hover:after,
[data-tooltip]:hover:before { display: block; }
 
/* Hide on tooltip hover */
[data-tooltip-hide-on-hover]:after,
[data-tooltip-hide-on-hover]:before { pointer-events: none; }
/* End of core (change from here) */
 
 
/* Animations */
[data-tooltip]:after,
[data-tooltip]:before { display: block; opacity: 0; visibility: hidden;
    -webkit-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
 
[data-tooltip]:hover:after,
[data-tooltip]:hover:before { opacity: 1; visibility: visible; }
 
 
/* Delays */
/* Show delay */
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    -webkit-transition-delay: 200ms;
         -o-transition-delay: 200ms;
            transition-delay: 200ms;
}
 
/* Hide delay */
[data-tooltip]:after,
[data-tooltip]:before {
    -webkit-transition-delay: 500ms;
         -o-transition-delay: 500ms;
            transition-delay: 500ms;
}
 
 
/* Theme Style */
[data-tooltip]:before { border-top-color: #fff; z-index: 99999; }
[data-tooltip]:after { background: #fff; box-shadow: 0 1px 3px rgba(96,110,131,.35); }
[data-tooltip]:after { color: #525f71; border-radius: 7px; padding: 22px; }

.tooltip-right-aligned:after { left: auto; right: -30px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
}


/* ==========================================================================
    #Fullscreener
========================================================================== */
.fsr-container { overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.fsr-element { position: absolute; }
.fsr-hidden { display: none; }

.question-mark { display: inline-block; vertical-align: middle; background: url(/css/images/icon-question.png) no-repeat 0 0; width: 18px; height: 18px; font-size: 14px; margin: 0 4px; position: relative; top: -2px; }

.btn { background: #5661e8; border-radius: 5px; color: #fff; font-family:'proxima_nova_rgbold', arial, serif; font-size:15px; text-transform: uppercase; padding: 15px 44px; display: inline-block; border:0; cursor: pointer; 
    -webkit-transition: all 0.3s; 
         -o-transition: all 0.3s; 
            transition: all 0.3s; 
}
input.btn { display: inline-block; height:60px; }
.btn-disabled { background-color: #8a9fb9; }

.btn:hover { text-decoration: none; background: #6872e7; }
.btn-light:hover { border-color: #6872e7; }

.btn-secondary { background: #8a9fb9; }

.btn-light { background: #51d8ec; border: 1px solid #45c8dc; box-shadow: 0 2px 0 #f6f7f9; border-radius: 3px; }

.btn-block { display: block; width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.btn-edgy { border-radius: 0; }

.btn-large { font-size: 18px; padding-top: 19px; padding-bottom: 19px; }

.section { background-color: #f7f7f7; padding: 100px 0; }
.section-project { background: #fff; position: relative; }
.section-project .section-head { position: relative; overflow: hidden; max-height: 150px; padding-top: 15px; margin-top: -15px;
    -webkit-transition: 400ms;
         -o-transition: 400ms;
            transition: 400ms;
}

.section-head { text-align:center; padding-bottom:80px; }
.section-head-little-gutter { padding-bottom: 40px; }

.form-head h2,
.section-head h2 { font-weight: 300; color: #525f71; font-size:36px; padding-bottom:21px; line-height:40px;  }

.feature { position: relative; }
.feature ~ .feature:before { content: ""; position: absolute; top: 39px; left: -19px; width: 30px; height: 45px; background: url(/css/images/feature-arrow.png) no-repeat 0 0; }
.feature-imge { text-align:center; padding-bottom:38px;  }
.feature-imge i { display: inline-block; background: url(/css/images/icons-2.png) no-repeat 0 0; width: 118px; height:119px; }
.feature-imge i.ico-note {background-position: 0 0; }
.feature-imge i.ico-buble { background-position: -120px 0; }
.feature-imge i.ico-code { background-position: 0 -121px; }
.feature-imge i.ico-cloud { background-position: -121px -121px; }



.features { margin: 0 30px; }
.features h3 { padding-bottom:25px; font-size:18px; color: #525f71;  }
.features li { float:left; width: 25%; text-align:center; list-style:none; list-style-position: outside; padding: 0 27px; box-sizing: border-box; }


.section-partners { background-color: #62aee8; color: #fff; padding: 60px 0; text-align:center; }
.section-partners h2 { font-weight:300; font-size:32px; padding-bottom:50px; line-height:40px;  }
.list-partners { text-align:center; margin: 0 -50px; }
.list-partners li {  display: inline-block; padding: 0 50px; }

.casestudies { margin: 0 -10px; }
.casestudy-image img { display:block; width: 100%; height: auto; }
.casestudies li { list-style:none; list-style-position: outside; float:left; color: #fff; text-align:center; position: relative; margin: 10px; width: 385px;  }
.casestudy-overlay { position: absolute; top:0; left:0; width: 100%; height:100%; z-index: 2; background-color:rgba(86, 97, 232, 0.9); opacity: 0; visibility: hidden; color: #fff;
-webkit-transition: all 0.3s; 
     -o-transition: all 0.3s; 
        transition: all 0.3s; 
}
.casestudy:hover .casestudy-overlay { visibility: visible; opacity: 1; }
.casestudy-overlay a { display: inline-block; }
.casestudy-overlay .casestudy-image img { display:block; width: 100%; }
.casestudy-head { position: absolute;  bottom:0; left:0; width: 100%; padding: 20px 0; }

.ico-zoom { border:2px solid #fff; width: 72px; height:72px; border-radius: 50%; display: inline-block; position: relative; margin-top:112px;  }
.ico-zoom:before { content:''; display: inline-block; width: 16px; height:16px; border-radius: 50%; border: 2px solid #fff; top:26px; left:26px; position: absolute;  }
.ico-zoom:after { content:''; width: 9px; height:2px; display: inline-block; background-color: #fff; transform: rotate(45deg);  -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg); position: absolute; top:45px; left:41px; }


.section-services { background-color: #fff; border-top:1px solid #dce3ef; text-align:center; }
.services { overflow: hidden; list-style: none outside none; }
.service { position: relative; float: left; width: 384px; height: 280px; margin-bottom: 22px; background: #f3f3f3; border: 1px solid #d5dfe8; text-align: center; }
.service ~ .service { margin-left: 20px; }
.service:nth-child(4n) { margin-left: 0; }
.service a { display: block; box-sizing: border-box; height: 100%; padding-top: 30px; }
.service a:hover { text-decoration: none; }
.service a:hover:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(86,97,232, .8); }
.service h1 { margin-top: 21px; font-family: "Open Sans", sans-serif; font-size: 36px; color: #525f71; font-weight: 300; }

.ico-banner,
.ico-code-lg,
.ico-logos,
.ico-presentation,
.ico-rocket,
.ico-wp { display: inline-block; height: 139px; background: url(/css/images/sprite-services.png) no-repeat; }
.ico-banner { width: 88px; background-position: 0px -141px; }
.ico-code-lg { width: 80px; background-position: 0px 0px; }
.ico-logos { width: 127px; background-position: -90px -141px; }
.ico-presentation { width: 113px; background-position: -286px 0px; }
.ico-rocket { width: 100px; background-position: -82px 0px; }
.ico-wp { width: 100px; background-position: -184px 0px; }
.ico-calendar { background: url(/css/images/icons.png) no-repeat -806px 0; width: 24px; height:24px; display: inline-block; vertical-align: top; }
.ico-mouse { background: url(/css/images/icons.png) no-repeat -851px 0; width: 16px; height:30px; display: inline-block;  vertical-align: top; }



.section-actions { padding: 60px 0 0 0; }

.testimonilas li { list-style:none; list-style-position: outside; float:left; width: 50%; box-sizing: border-box; text-align:center; padding: 0 55px; }
.testimonial-autor-image { border-radius: 50%; overflow: hidden; border:2px solid #8f9fba; display: inline-block; padding:4px; float:left; }
.testimonial-autor-image img { border-radius: 50%; width: 70px; height: auto; }
.testimonial blockquote { padding-bottom:60px; }
.testimonial-autor-content { text-align:left; height:100%; overflow: hidden; padding: 22px 0 0 30px; font-size:14px; line-height:20px;  }
.testimonial-autor-content h4 { font-size:14px; color: #525f71; padding-bottom:5px; }
.testimonial-autor { display: inline-block; }
.testimonial-autor-content a { font-weight:600; }

.section-callout { background: url(/css/images/blue-pattern.png) repeat 0 0; color: #fff; }

.callout { text-align:center; font-size:18px; line-height:35px; font-weight:300;  }
.callout p { margin-bottom:20px; }
.callout h2 { font-weight:300; font-size:36px; padding-bottom:20px;  }
.btn-callout { color: #fff; display: inline-block; background: transparent; border-radius: 5px; border:1px solid #fff; text-transform: uppercase; font-family:'proxima_nova_rgbold', arial, serif; font-size:15px;   padding: 0 60px; line-height:54px; }
.btn-callout:hover { background-color: #fff; color: #5b66eb; text-decoration: none; }

.section-contacts { background: #fff; }

.footer { background-color: #181e28;  font-size:13px; color: #fff; padding: 31px 0; box-sizing: border-box;  }

.main .shell { display: table; }
.main .content { display: table-cell;  width: 810px; padding-right:55px;  }
.main .sidebar { display: table-cell;  width: 330px; }

.list-contacts li { padding-bottom:34px; }
.list-contacts li i { width: 60px; height:60px; display: inline-block; float:left; background: url(/css/images/icons.png) no-repeat 0 0; margin-right:20px;  }
.list-contacts li i.ico-pin { background-position:-483px 0;  }
.list-contacts li i.ico-mail { background-position:-483px -94px;  }

.socials li { list-style:none; list-style-position: outside; display: inline-block; }
.socials a { display:block; width: 46px; height:46px; }

.socials a.link-facebook { background-position:0 0; }
.socials a.link-twitter { background-position:-59px 0; }
.socials a.link-google { background-position:-117px 0; }
.socials a.link-youtube { background-position:-176px 0; }
.socials a.link-instagram { background-position:-234px 0; }
/**/
.socials-secondary li { float:left; padding-left:11px; }
.socials-secondary li:first-child { padding-left:0; }
.socials-secondary li a { display:block; width: 46px; height:46px; border-radius: 50%; background: #606e83; line-height:46px; text-align:center; }
.socials-secondary li a:hover { background: #5661e8; }

.socials-secondary [class^='ico-'],
.socials-secondary [class*='ico-'] { display: inline-block; background: url(/css/images/socials.png) no-repeat 0 0; vertical-align: middle; -webkit-transition: opacity 0.3s;  -o-transition: opacity 0.3s;  transition: opacity 0.3s;  }

.socials-secondary .ico-facebook { background-position:0 -30px; width: 10px; height:20px; }
.socials-secondary .ico-twitter { background-position:-43px -30px; width: 13px; height:17px; }
.socials-secondary .ico-google { background-position:-65px -30px; width: 21px; height:17px; }
.socials-secondary .ico-vimeo { background-position:-173px -30px; width: 20px; height:18px; }
.socials-secondary .ico-tumblr { background-position: -228px -30px; width: 13px; height:20px; }
.socials-secondary .ico-ball { background-position:-247px -30px; width: 21px; height:20px; }
.socials-secondary .ico-be { background-position:-272px -30px; width: 21px; height:13px; }
.socials-secondary .ico-pinterest { background-position:-199px -30px; width: 21px; height:20px; }
.socials-secondary .ico-linkedin { background-position:-148px -30px; width: 21px; height:19px; }
.socials-secondary .ico-instagram { background-position:-120px -30px; width: 20px; height:20px; }
.socials-secondary .ico-youtube { background-position:-92px -30px; width: 20px; height:14px; }
.socials-secondary .ico-email { background-position:-328px -30px; width: 27px; height:19px; }

.socials-secondary .ico-twitter { background-position:-17px -30px; width: 21px; height:17px; margin: -1px -2px 0 0; }
.socials-secondary .ico-facebook { margin-top:-2px; }
.socials-secondary .ico-google { margin-top:-2px; margin-right:-1px; }
.socials-secondary .ico-youtube { margin-top: -2px; }
.socials-secondary .ico-instagram { margin-top:-3px; }


/**/








.form-apply { width: 810px; margin:0 auto; }
.form-head { padding-bottom:60px; }
.shell .form-apply .apply-body { padding: 50px; background-color: #FCFDFF; border: 1px solid #D1D1D1;}
.shell .form-apply .apply-body .btn.brown {margin-top: 20px;}

.form-thanks .form-head { padding-bottom:27px; margin-bottom:27px;  }
.form-thanks .form-head h2 { padding-bottom: 0; }

.form-col { float:right; width: 48%; }
.form-col:first-child { float:left; }

.form-col-1of3 { width: 30.6%; }
.form-col-1of3:nth-child(2) { float: left; padding-left: 4%; }

.form .textarea,
.form .field { width: 100%; border:1px solid #dce3ef; background: #f4f6fa; border-radius: 3px; overflow: hidden; height:50px; padding: 12px; box-sizing: border-box;  }
.form .textarea { height:190px;  }

.form-validated .textarea.error,
.form-validated .field.error { border-color: red; }

.form-body p { margin-bottom:20px; }

.form .form-label { font-weight:700; color: #525f71; padding-bottom:15px; display:block; margin-bottom: 0;}
.form-asterisk { color: #d77a80; }
.form .form-row { padding-bottom:25px; }

.form-controls .sbHolder { width: 100%; border:1px solid #dce3ef; border-radius: 3px; height:50px; line-height:50px; position: relative; }
.form-controls .sbSelector { display:block; padding: 0 12px; color: #718097; background: #f4f6fa; text-decoration: none; }
.form-controls .sbSelector:hover { text-decoration: none; }
.form-controls .sbToggle { position: absolute; top:22px; right:22px; width: 0; height:0; border-top:8px solid #525f71; border-left:7px solid transparent; border-right:7px solid transparent;   }
.form-controls .sbHolder li { list-style:none; list-style-position: outside; padding:0 12px;  }
.form-controls .sbHolder li a { display:block; color: #718097; border-bottom:1px solid #dce3ef;  }
.form-controls .sbHolder li:last-child a { border-bottom:0; }
.form-controls .sbHolder ul { border:1px solid #dce3ef; background: #f4f6fa; border-radius: 3px; overflow: hidden;  }


.slide-foot { background-color: #f3f7fa; line-height:77px; border-top:1px solid #c4c7ce; padding: 0 26px; border-radius: 0 0 5px 5px; }
.slide-foot h4 { float:left; }
.slide-foot a { float:right; }

.sidebar {border-left:1px solid #dce3ef; }
.widgets { padding-left:54px; }
.widgets li { list-style:none; list-style-position: outside; }
.widget-title { color: #525f71; font-size:18px; font-weight:700; padding-bottom:30px;  }

.slider-projects { position: relative; }
.slider-projects li { list-style:none; list-style-position: outside;}
.cboxCurrent { display:none !important; }

.slider-projects { max-width: 880px; margin: 0 auto; }
.slider-projects .slider-clip { border-radius: 5px 5px 0 0; overflow: hidden; }
.slider-projects .slider-clip .slide { float: left; }

.slider-actions { position: absolute; left: 0; right: 0; top: 50%; margin-top: -35px; }

.slider-prev,
.slider-next { position: absolute; top: 50%; background: url(/css/images/arrows.png) no-repeat 0 0; width: 71px; height: 71px; }
.slider-prev { left: -120px; }
.slider-next { right: -120px; background-position: 0 bottom; }

.slide-image img { max-width: 100%; height: auto; }

.expand { display:none; }


.stuck-header .header { position: static; }


.arrow-down { display: inline-block; background: url(/css/images/arrow-down.png) no-repeat 0 0; width: 60px; height: 60px; }

.intro-secondary { position: relative; height: 564px; }

.intro-secondary .intro-content { padding-top: 190px; }
.intro-secondary .intro-content h2 { font-size: 48px; }
.intro-secondary .intro-content p { font-weight: 300; padding-bottom: 34px; }
.intro-secondary .arrow-down { position: absolute; left: 50%; bottom: 30px; margin-left: -30px; }


.section-feature .shell:after { content: ''; display: table; clear: both; }
.section-feature .section-head { text-align: left; padding-bottom: 0; }
.section-feature .section-head h2 { line-height: 1.8em; }
.section-feature .section-body p { padding-bottom: 40px; }

.section-main { float: left; width: 550px; }
.section-image { float: right; padding: 35px 60px; }

.section-inverse .section-main { float: right; }
.section-inverse .section-image { float: left; }

.section-divided { border-top: 1px solid #dce3ef; }


.features-list { list-style: none outside none; padding: 0; }
.features-list:after { content: ''; display: table; clear: both; }
.features-list li { float: left; width: 50%; min-height: 220px; }
.features-list-item-icon { float: left; width: 108px; min-height: 1px; }
.features-list-item-icon span { float: left; background: url(/css/images/features-icons.png) no-repeat 0 0; width: 64px; height: 64px; }
.features-list-item-icon .feature-icon-cloud { background-position: 0 0; }
.features-list-item-icon .feature-icon-chat { background-position: -74px 0; }
.features-list-item-icon .feature-icon-terminal { background-position: -148px 0; }
.features-list-item-icon .feature-icon-server { background-position: -222px 0; }
.features-list-item-body { overflow: hidden; max-width: 332px; }
.features-list-item-body h4 { padding-bottom: 14px; color: #525f71; }



.section-agency-testimonials { background: #2a3440; }
.section-agency-testimonials h2 { color: #fff; }

.agency-testimonials { list-style: none outside none; padding: 0; font-size: 0; }
.agency-testimonials li { display: inline-block; vertical-align: bottom; max-width: 362px; }
.agency-testimonials li + li { padding-left: 57px; }
.agency-testimonials .testimonial-body { border: 2px solid #dce3ef; position: relative; margin-bottom: 40px; padding: 20px 30px; font-size: 18px; line-height: 2em; color: #8a9fb9; }
.agency-testimonials .testimonial-body:before,
.agency-testimonials .testimonial-body:after { content: ''; position: absolute; top: 100%; left: -2px; border-width: 32px 32px 0 0; border-style: solid solid none none; border-color: #dce3ef transparent transparent; }
.agency-testimonials .testimonial-body:after { border-top-color: #2a3440; left: 0; margin-top: -5px; }
.agency-testimonials .testimonial-head:after { content: ''; display: table; clear: both; }
.agency-testimonials .testimonial-image { float: left; border: 2px solid #8f9fba; padding: 3px; border-radius: 50%; margin-right: 30px; }
.agency-testimonials .testimonial-image img { float: left; border-radius: 50%; }
.agency-testimonials .testimonial-author { overflow: hidden; font-size: 14px; padding: 20px 0 0; line-height: 1.4; }
.agency-testimonials .testimonial-author h5 { font-size: 1em; color: #fff; padding-bottom: 7px; }

.section-contact h2 { color: #fff; }
.section-contact .section-head { padding-bottom: 20px; }
.section-contact .form .form-label { color: #fff; }
.section-contact .form { max-width: 814px; margin: 0 auto; color: #000; }
.section-contact .form-actions { padding-top: 20px; }



.products { border-top: 1px solid #d5dfe8; padding: 30px 0;
    -webkit-transition: 400ms;
         -o-transition: 400ms;
            transition: 400ms;
}
.products-head { padding-bottom: 25px; }
.products-head h2 { font-size: 24px; color: #525f71; font-weight: normal; }
.products-body { margin: 0 -12px; }
.products-body:after { content: ''; display: table; clear: both; }

.product-tile { background: #fcfdff; box-shadow: 0 2px 0 #e9eef7; border-radius: 3px; overflow: hidden; border: 1px solid #d7d7d7; display: block; color: #525f71; text-align: center; }
.product-tile-image { background: #5661e8; }
.product-tile-image img { width: 100%; height: auto; }
.product-tile-title { display: table; width: 100%; height: 80px; }
.product-tile-title h3 { font-size: 18px; line-height: 1.3; font-weight: bold; display: table-cell; vertical-align: middle; }


.product-tile,
.product-tile-image img {
    -webkit-transition: 1000ms;
         -o-transition: 1000ms;
            transition: 1000ms;
}

.product-tile:hover,
.product-tile:hover .product-tile-image img {
    -webkit-transition: 200ms;
         -o-transition: 200ms;
            transition: 200ms;
}
.product-tile:hover { text-decoration: none; background: #5e68e9; color: #fff; }
.product-tile:hover .product-tile-image img { opacity: .5; }

.products-grid-item { width: 25%; float: left; padding: 12px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.side-panel-holder { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99; }
.side-panel-overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(33, 42, 53, .8); cursor: pointer; }
.side-panel { position: absolute; top: 0; right: 0; bottom: 0; width: 400px; background: #f5f6fa; box-shadow: 0 0 7px 1px rgba(0,0,0,.77), inset 0 1px 5px rgba(40,51,67,.1); }
.side-panel-head,
.side-panel-foot { position: absolute; left: 0; right: 0; }
.side-panel-head { top: 0; }
.side-panel-foot { bottom: 0; }

.side-panel-head { background: #dce3ef; border-bottom: 1px solid #ccd8e6; padding: 30px 0; text-align: center; }
.side-panel-head h2 { font-size: 28px; font-weight: normal; color: #8a9fb9; text-transform: uppercase; }

.side-panel-body { position: absolute; top: 91px; bottom: 60px; left: 0; right: 0; overflow: auto; padding: 35px 20px; }

.side-panel-close { position: absolute; top: 10px; right: 10px; z-index: 3; background: url(/css/images/close.png) no-repeat 0 0; width: 22px; height: 22px; cursor: pointer; border: 0 none; }

.side-panel-error-container { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.side-panel-error-message { position: absolute; top: 50%; left: 20px; right: 20px; margin-top: -20px; text-align: center; }



.side-panel-holder { opacity: 0; visibility: hidden;
    -webkit-transition: 200ms 800ms;
         -o-transition: 200ms 800ms;
            transition: 200ms 800ms;
}
.side-panel-overlay { opacity: 0; visibility: hidden;
    -webkit-transition: 400ms 400ms;
         -o-transition: 400ms 400ms;
            transition: 400ms 400ms;
}

.side-panel {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
    
    -webkit-transition: 400ms;
         -o-transition: 400ms;
            transition: 400ms;
}

.side-panel-holder.visible,
.side-panel-holder.visible .side-panel-overlay { opacity: 1; visibility: visible;
    -webkit-transition-delay: 0ms;
         -o-transition-delay: 0ms;
            transition-delay: 0ms;
}

.side-panel-holder.visible .side-panel {
    -webkit-transition-delay: 400ms;
         -o-transition-delay: 400ms;
            transition-delay: 400ms;
    
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
}


.side-panel-content {
    -webkit-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.side-panel:after { content: ''; background: url(/css/images/preloader.gif) no-repeat 0 0; width: 60px; height: 64px; position: absolute; top: 50%; left: 50%; margin: -32px 0 0 -30px; opacity: 0; visibility: hidden;
    -webkit-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}
.side-panel-holder.loading .side-panel:after { opacity: 1; visibility: visible; }
.side-panel-holder.loading .side-panel-content { opacity: 0; visibility: hidden; }

.side-panel-error-container { opacity: 0; visibility: hidden;
    -webkit-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}

.side-panel-holder.error .side-panel-error-container { opacity: 1; visibility: visible; }
.side-panel-holder.error .side-panel-content { opacity: 0; visibility: hidden; }



.item-added-message { position: absolute; top: 0; left: 0; right: 0; opacity: 0; visibility: hidden; }
.item-added-message .btn { width: 440px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
    -webkit-transition: 300ms;
         -o-transition: 300ms;
            transition: 300ms;
}

.items-added .item-added-message { opacity: 1; visibility: visible; }


.product-description { font-size: 16px; color: #718097; line-height: 1.2; border-bottom: 1px solid #ccd8e6; padding-bottom: 20px; }
.product-description h3 { font-size: 21px; font-weight: bold; color: #525f71; padding-bottom: 18px; }
.product-description p { padding-bottom: 18px; }
.product-description small { font-size: 14px; }

.product-options-group { border-bottom: 1px solid #ccd8e6; padding: 25px 0; }
.product-options-group:after { content: ''; display: table; clear: both; }
.product-options h4 { font-size: 16px; line-height: 1.2; font-weight: 600; color: #718097; padding: 7px 0; }

.product-option-checkbox { margin: 8px 0; }
.product-option-checkbox input { opacity: 0; position: absolute; visibility: hidden; }
.product-option-checkbox label { display: inline-block; position: relative; padding-left: 40px; cursor: pointer; }
.product-option-checkbox label:before { content: ''; position: absolute; top: 4px; left: 0; width: 20px; height: 20px; border-radius: 50%; background: #fff; border: 1px solid #dde4f0; }
.product-option-checkbox input:checked + label:before { background: #5661e8 url(/css/images/tick.png) no-repeat center center; border-color: #5661e8; }

.counter-input { display: inline-block; float: right; padding-left: 20px; }
.counter-control { width: 50px; height: 50px; background: #8a9fb9; line-height: 50px; border: 0 none; border-radius: 0; color: #fff; font-size: 19px; float: left; }
.counter-field { border: 0 none; background: transparent; width: 50px; height: 50px; line-height: 50px; text-align: center; padding: 0; color: #718097; font-size: 16px; float: left; }

.many-affix { display: none; }
.many .many-affix { display: inline; }

.cart-bar { position: absolute; top: 0; left: 0; right: 0; background: #464b53; padding: 20px 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    
    -webkit-transition: 400ms;
         -o-transition: 400ms;
            transition: 400ms;
}
.cart-bar-items { text-align: center; list-style: none outside none; padding: 0; }
.cart-bar-items li { display: inline-block; padding: 0 30px; }
.cart-bar-items a { display: inline-block; color: #fff; font-size: 14px; font-weight: bold; color: #fff; text-transform: uppercase; }
.cart-bar-items .link-inner { opacity: .5;
    -webkit-transition: 150ms;
         -o-transition: 150ms;
            transition: 150ms;
}
.cart-bar-items a:hover { text-decoration: none; }
.cart-bar-items a:hover .link-inner { opacity: 1; }
.cart-bar-items .cart-icon-holder { display: inline-block; position: relative; margin-right: 10px; }
.cart-bar-items .cart-qty-bubble { position: absolute; top: -5px; right: -3px; z-index: 3; width: 20px; height: 20px; border-radius: 50%; background: #00aeef; font-size: 12px; line-height: 20px; color: #fff; }
.cart-bar-items .cart-icon { display: inline-block; vertical-align: middle; margin-right: 5px; position: relative; top: -1px; background: url(/css/images/cart-icon.png) no-repeat 0 0; width: 30px; height: 26px; }
.cart-bar-items .tick-icon { display: inline-block; vertical-align: middle; margin-right: 5px; position: relative; top: -1px; background: url(/css/images/tick-icon.png) no-repeat 0 0; width: 26px; height: 26px; }

.cart-bar-visible .cart-bar {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}

.cart-bar-visible .section-project .section-head { max-height: 0; padding: 0; }
.cart-bar-visible .products:first-child { border-top-color: transparent; }



.section-checkout { position: relative; background: #fff; }
.section-checkout .section-head { text-align: left; }


.checkout-sum-up { float: left; width: 50%; padding-right: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.checkout-sum-up-group { border-top: 1px solid #d1dae8; padding: 30px 0; }
.selected-products { list-style: none outside none; padding: 0; }
.selected-products > li + li { padding-top: 26px; }
.selected-products h3 { font-size: 18px; font-weight: bold; color: #525f71; }
.selected-products h3 small { font-size: 14px; font-weight: normal; }
.selected-products ul { list-style-position: inside; list-style-type: disc; padding: 5px 0 0; }
.selected-products .product-value { float: right; }

.checkout-total { max-width: 200px; margin: 0 0 0 auto; }
.checkout-total table { width: 100%; }
.checkout-total table td:last-child { text-align: right; }
.checkout-total h2 { font-size: 24px; font-weight: 600; color: #525f71; }
.checkout-total .value { color: #00aeef; }


.checkout-form-holder { float: right; width: 50%; padding-left: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.checkout-form { background: #fbfbfb; border: 1px solid #d5dfe7; border-radius: 4px; padding: 20px 30px 30px; }
.checkout-form h2 { font-size: 28px; padding-bottom: 28px; }
.checkout-form .form-head { padding-bottom: 0; border: 0 none; margin-bottom: 0; }
.checkout-form .textarea,
.checkout-form .field { background: #fff; }
.checkout-form .form-label { font-size: 14px; padding-bottom: 7px; }
.checkout-form .form-row { padding-bottom: 12px; }
.checkout-form .form-body { padding-bottom: 20px; }

.form-row-divider { border-top: 1px solid #d1dae8; margin: 28px 0; }


.payment-method-selector { border: 1px solid #dce3ef; display: inline-block; vertical-align: top; }
.payment-method-selector:after { content: ''; display: table; clear: both; }
.payment-method-item { float: left; position: relative; }
.payment-method-item + .payment-method-item { border-left: 1px solid #dce3ef; }
.payment-method-item input { position: absolute; top: 0; left: 0; opacity: 0; z-index: -1; }
.payment-method-item label { float: left; width: 145px; height: 60px; line-height: 60px; text-align: center; background: #f6f8fb; font-size: 16px; font-weight: bold; cursor: pointer; }
.payment-method-item input:checked + label { background: #5a64e7; box-shadow: inset 1px 1px 3px rgba(0,0,0,.6); color: #fff; }

.paypal-logo { display: inline-block; vertical-align: middle; background: url(/css/images/paypal-logo.png) no-repeat 0 0; width: 71px; height: 19px; }
input:checked + label .paypal-logo { background-position: 0 -29px; }

.paypal-element,
.cc-element { display: none; }
.payment-method-paypal .paypal-element,
.payment-method-cc .cc-element { display: block; }

.form-terms { font-size: 11px; line-height: 1.2; color: #525f71; max-width: 355px; padding-top: 20px; }

.form-text { font-size: 14px; line-height: 1.7; padding: 10px 0; }
.form-text p { padding: 0; margin: 0; }

.access { width: 571px; margin: 0 auto; }
.form.form-access .form-head { text-align:center; padding:0 0 40px 0; border-bottom:0; margin: 0; }
.form.form-access .form-head .form-logo { background: url(/css/images/form-logo.png) no-repeat 0 0; display: inline-block; width: 120px; height:28px; margin-bottom:40px; }
.form.form-access .separator { border-top:1px solid #dce3ef; padding-bottom:44px; }
.form.form-access .form-head h2 {  border:0; padding: 0; margin:0; color: #525f71; font-size:26px; font-weight:300; }
.form.form-access .form-head h2 strong { font-weight:600; }
.form.form-access .form-head small { color: #718097; font-size:13px; }
.form.form-access .form-row { position: relative; }
.form.form-access .form-label { position: absolute; top:0; left:0; width: 100%; padding: 0; line-height:50px; padding-left:21px; box-sizing: border-box; }
.form.form-access .form-actions,
.form.form-access .form-body { padding: 0 70px; }
.form.form-access .form-actions { padding-bottom:33px; }
.form.form-access .form-actions .btn { display:block; width: 100%; box-sizing: border-box; }
.form.form-access .form-foot { text-align:center; overflow: hidden; }
.form.form-access .form-foot p { margin-bottom:70px; }
.form.form-access .form-foot small { font-size:12px; color: #718097; }
.form.form-access .form-foot small a { text-decoration: underline; color: #718097; }
.form.form-access .form-foot small a:hover { text-decoration: none; }
.form.form-access .form-foot-secondary .link-forgot { color: #cedbeb; }
.form.form-access .form-foot-secondary { color: #cedbeb; font-size:13px; font-weight:400; }
.form.form-access .form-foot-secondary span:first-child { float:left; }
.form.form-access .form-foot-secondary span { float:right; }

.form.form-access .password-success { display:block; text-align:center; padding-bottom:40px; }
.form.form-access .password-success i { font-style: normal;  display:block; }
.form.form-access .password-success:before { content:''; display: inline-block; background: url(/css/images/pass-success.png) no-repeat 0 0; width: 44px; height:34px; }


.form-business-card .form-label { font-size:14px; }
.form-business-card .form-actions { padding-top:40px; border-top:1px solid #d5dfe8; }
.form-business-card .form-body { padding-bottom:15px; }
.form-business-card .form-head { padding-bottom:0; margin-bottom:30px; }
.form-business-card .form-head p { margin-bottom:28px; }
.form-business-card .form-head p span { display: inline-block; margin-right:10px; }

.list-radios-custom { border-radius: 3px; border:1px solid #dce3ef; overflow: hidden;  display: inline-block; }
.list-radios-custom li { list-style:none; list-style-position: outside; float:left; box-sizing: border-box; }
.list-radios-custom li:first-child { border-right:1px solid #dce3ef; }
.list-radios-custom .radio { position: relative; overflow: hidden; }
.list-radios-custom .radio input { position: absolute; top:-100px; left:-100px; }
.list-radios-custom .radio span { display:block; line-height:60px; color: #525f71; font-size:16px; background-color: #f4f6fa; text-align:center; font-weight:700; cursor: pointer; padding: 0 25px; }
.list-radios-custom .radio input:checked + span { background-color: #3ec8a7; color: #fff; 
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.form-business-card .counter-input { float:none; padding-left:0; }
.form-business-card .counter-control { color: #5a64e7; background-color: #edf1f7; width: 60px; height:60px; font-size:25px; line-height:60px;  
    background: #f0f3f9;
    background: -moz-linear-gradient(top,  #f0f3f9 0%, #e5ebf4 44%, #dce3ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f3f9), color-stop(44%,#e5ebf4), color-stop(100%,#dce3ef));
    background: -webkit-linear-gradient(top,  #f0f3f9 0%,#e5ebf4 44%,#dce3ef 100%);
    background: -o-linear-gradient(top,  #f0f3f9 0%,#e5ebf4 44%,#dce3ef 100%);
    background: -ms-linear-gradient(top,  #f0f3f9 0%,#e5ebf4 44%,#dce3ef 100%);
    background: linear-gradient(to bottom,  #f0f3f9 0%,#e5ebf4 44%,#dce3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f3f9', endColorstr='#dce3ef',GradientType=0 );
}
.form-business-card .counter-field { line-height:60px; height:60px; font-size:20px; }

.list-checkboxes-custom li { list-style:none; list-style-position: outside; }
.list-checkboxes-custom .form-label-check { display: inline-block;  overflow: hidden; position: relative; line-height:24px; margin-bottom:15px; }
.list-checkboxes-custom .form-label-check input { position: absolute; top:-100px; left:-100px; }
.list-checkboxes-custom .form-label-check span { display: inline-block; vertical-align: top; margin-left:10px; }
.list-checkboxes-custom .ico-check { display: inline-block; width: 22px; height:22px; vertical-align: top; border-radius: 50%; background-color: #f4f6fa; 
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    inset 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         inset 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
}
.list-checkboxes-custom input:checked + .ico-check { background: url(/css/images/icons.png) no-repeat -181px 0; }

@media (max-width: 1260px) {
    .slider-projects { max-width: 900px; }
}

@media (max-width: 1200px) {
    .shell { width: auto; padding: 0 10px; }
    .form-apply { width: auto; }
    .list-partners { margin: 0; }
    .list-partners li { margin-bottom:20px; }

    .casestudies { text-align:center; }
    .casestudies li { float:none; display: inline-block; }

    .main .content {display:block; width: auto; padding: 0;  }
    .main .sidebar { display:block; width: auto; border:0; }
    .widgets { padding: 0 0 20px 0; }
    .widget-title { margin-bottom:20px; }

    .services { text-align: center; }
    .service { display: inline-block; float: none; }
    .service:nth-child(2n+1) { margin-left: 0; }
    .service:nth-child(4n) { margin-left: 20px; }

    .agency-testimonials li { max-width: none; display: block; }
    .agency-testimonials li + li { padding-left: 0; padding-top: 50px; }

    .section-image { padding-left: 0; padding-right: 0; }

    .slider-projects { max-width: 750px; }


}

@media (max-width: 1023px) {
    .section-inverse .section-main,
    .section-main { width: auto; float: none; }
    .section-inverse .section-image,
    .section-image { width: auto; float: none; text-align: center; }
    .section-main .btn { text-align: center; }
    .section-image img { max-width: 100%; height: auto; }

    .intro-secondary .intro-content h2 { font-size: 38px; }

    .features-list li { float: none; width: auto; max-width: 400px; margin: 0 auto; min-height: 0; padding: 40px 0; }

    .features-list-item-icon { width: 78px; }

    .products-grid-item { width: 33%; }
}

@media (max-width: 980px) {
    .header .nav { float:none; clear: both; margin: 0 -10px; }
    .header .nav li:first-child { padding-left:0; }
    .header .nav a { float: none; padding: 5px 20px; }
    .header .nav a:before { right: auto; bottom: 0; border-left: 3px solid; }

    .intro  { height:auto; }
    .features li { float:none; width: auto; width: 400px; margin: 0 auto; padding-bottom:30px;  }
    .list-partners li { margin-bottom:20px; }
    .services { display:block; }
    .section-actions { padding-top:0; }
    .section { padding: 60px 0; }

    .testimonilas li { float:none; width: auto; padding-bottom:30px; }
    .testimonial blockquote { padding-bottom:10px; }

    .feature ~ .feature:before { display: none; }
    
    .expand { border-top:5px solid #718097; border-bottom:5px solid #718097; display: inline-block; width: 40px; padding: 5px 0; position: absolute; top:33px; right:10px; }
    .expand:before { content:''; display:block; height:5px; width: 100%; background-color: #718097; }
    
    .header .nav { float:none; clear: both; padding-top:30px; display:none; }
    .header .nav li { float:none; padding-left:0; }
    .header .nav li a { display:block; padding-left:10px; }

    .slider-projects { max-width: 500px; }
    
    .list-radios-custom { display:block; }
    .list-radios-custom li { float:none; }
    .list-radios-custom li:first-child { border-right:0; border-bottom:1px solid #dce3ef;  }
}

@media (max-width: 815px) {
    .service ~ .service { margin-left: 0; }

    .slider-projects { max-width: 400px; }
}

@media (max-width: 767px) {
    .products-grid-item { width: 50%; }
}

@media (max-width: 640px), (max-device-width: 640px) {
    .slider-projects { padding: 0; }
    .slide-foot { line-height:30px; text-align:center; }
    .slide-foot a,
    .slide-foot h4 { float:none; }

    .slider-actions { top: 100%; margin-top: 10px; }
    .slider-prev,
    .slider-next { width: 35px; height:36px; -webkit-background-size: 35px 83px; background-size: 35px 83px; }

    .slider-prev { left: 0; }
    .slider-next { right: 0; }

    .header.header-top a { background-color: #2a363a; }
    .intro-content { padding:80px 0; }
    .features li { padding-top:20px; }
    .service-body {     display:none; }
    .section-testimonilas { display:none; }
    .ico-zoom { margin-top:45px; }
    .section-services .section-head { padding-bottom:50px; }
    .list-services li:before { display:none; }
    .list-services li { padding-left:10px; }
    .service { margin-bottom:30px; }

    .casestudies li { width: auto; }
    .casestudies .casestudy-image img { display:block; width: 100%; }
    .section-head { padding-bottom:30px; }
    .features h3,
    .feature-imge { padding-bottom:10px; }
    .btn { padding-left:10px;  padding-right:10px; }
    .features { margin: 0; }
    .features li { width: auto; padding-left:0; padding-right:0; }
    .section { padding: 30px 0; }

    .form-head { padding-bottom:20px; margin-bottom:20px;  }

    .form-col:first-child { float:none; padding-bottom:25px;  }
    .form-col { float:none; width: auto; }
    .form-col.form-col-1of3 { float:none; padding-bottom:25px;  }
    .form-col.form-col-1of3 { float: none; padding-left: 0; }}

@media (max-width: 480px) {
    .btn { display:block; box-sizing: border-box; width: 100%; }

    .products-grid-item { width: 100%; }
}

@media (max-width: 410px) {
    .service { width: 290px; }
}

.popup-body {
    padding-top: 2em;
    margin-bottom: 1.5em;
    background: white;
    border-radius: 0.25em;
    box-shadow: 0em 0.15em 0.1em 0.1em rgba(0,0,0,0.3); }

.form-error {
    font-weight: bold; color: red; }




.page_content{
	padding-top:75px;
	padding-bottom:75px;
}
.page_content .project_box{
	padding:0px;
}
.page_content .project_box .left_section{
	width:440px;
	float:left;
	padding-top:10px;
}
.page_content .project_box .right_section{
	width:270px;
	float:right;
	padding-bottom:20px;
	text-align:right;
}
a.btn_large{
	font-size:15px;
	font-family: 'proxima_nova_rgbold';
	-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
	display:inline-block;
	padding:14px 35px 14px 35px;
	text-decoration:none;
}
a.btn_large .fa{
	font-size:21px;
	position:relative;
	top:1px;
	left:3px;

	
}
a.btn_med, a.btn_med.gray, .right_container ul.box_list li a.btn_med.gray{
    font-size:14px;
    font-family: 'proxima_nova_rgbold';
    -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
    display:inline-block;
    padding:10px 35px 8px 35px;
    text-decoration:none;
    cursor: pointer; 
}
a.btn_med .fa{
	font-size:21px;
	position:relative;
	top:1px;
	left:3px; }

.purple{
	color:#fff;
	background-color:#5a64e7;
}
.purple:hover{
	background-color:#535bc8;
}

a.btn_small{
	font-size:14px;
	-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	display:inline-block;
	padding:4px 12px 4px 12px;
	text-decoration:none;
	min-width:85px;
	text-align:center;
	margin:0px;
}
.blue{
	background-color:#27baf2;
	color:#fff;
}

.blue:hover{
	background-color:#1ea8dc;
	color:#fff;
}

.green{
	background-color:#2ecc71;
	color:#fff;
}

.green:hover{
	background-color:#059608;
	color:#fff;
}

.gray{
	background-color:#d2d2d2;
	color:#fff;
}

.gray:hover{
	background-color:#bcbbbb;
	color:#fff;
}

.black{
	background-color:#666a6b;
	color:#fff;
}

.black:hover{
	background-color:#515252;
	color:#fff;
}
.table_box{
	-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
	background-color:#ffffff;
	border:#cccccc solid 1px;
	margin-bottom:25px;
}

.table_box .tbl_row td{
	padding:16px 25px 16px;

}
.table_box .heading{
	background-color:#f9f9fa;
	font-size:18px;
	padding:25px 25px 25px 25px;
}

.table_box .light_gray{
	background-color:#f9f9f9;


}
.table_box .subtitle td, .table_box .subtitle th{
	border-bottom:#c9c9c9 solid 1px;
	border-top:#c9c9c9 solid 1px;
	background-color:#f3f3f3;
	font-family: 'open_sanssemibold';
}

.padding_less{
	padding-top:45px;
	padding-bottom:45px;
}
.back_btn_box{
	font-size:16px;
	color:#5a64e7;
	padding-bottom:30px;
}

.back_btn_box a{
	color:#5a64e7;
	text-decoration:none;
}
.back_btn_box img{
	position:relative;
	top:-2px;
	margin-right:5px;

}


.project_detail_box{
	-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
	background-color:#ffffff;
	border:#cccccc solid 1px;
	margin-bottom:25px;
}
.project_detail_box h2{
	margin:0px 0 0px;
}

.project_detail_box .row_box{
	padding:21px 30px 21px 30px;
    border-bottom:#d7d7d7 solid 1px;
}

#project_status .complete {
    font-size: 1em;
    color: rgb(32, 188, 156);
    float: left;
    margin: 6px 10px 0px 0px;
}


#project_status .incomplete {
    font-size: 1em;
    color: #bcbbbb;
    float: left;
    margin: 6px 15px 0px 0px;
}

.project_detail_box .gray_brd{
	background-color:#f7f7f7;
	border-bottom:#d7d7d7 solid 1px;
	border-top:#d7d7d7 solid 1px;
	padding:16px 30px 21px 30px;
}

.project_detail_box .gray_brd .col_one{
	width:135px;
	float:left;
}

.project_detail_box .gray_brd .col_two{
	width:160px;
	float:left;
}
.project_detail_box .gray_brd .col_one p, .col_two p, .col_flex p{
	margin:0px 0 7px;
	padding:0px;
	color:#525f71;
	font-size:14px;
}

.project_detail_box .gray_brd .col_one h5, .col_two h5, .col_flex h5{
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#525f71;
}
.project_detail_box .gray_brd .column_five{
	padding-right:50px;
	float:left;
	padding-top:3px;
	color:#525f71;
}
.project_detail_box .gray_brd .column_five span{
	font-family: 'open_sansbold';
}
.project_detail_box .left_container{
	width:810px;
	float:left;
	border-right:#d7d7d7 solid 1px;
	padding:0px 30px 0px 25px;
    word-break: break-word;
    word-wrap: break-word;
}

.no_padding_right {
    padding-right: 0px !important;
}

.project_detail_box .left_container .left_tablecell_div{
    max-height:1500px;
    overflow-y:auto;
    padding-right: 30px;
}

.project_detail_box .left_container ul.list_comment{
	margin:0px;
	padding:0px;
}

.project_detail_box .left_container ul.list_comment li{
	margin:50px 0 50px;
	padding:0px;
	width:100%;
	float:left;
	list-style:none;
}
.project_detail_box .left_container ul.list_comment li .avtar{
	float:left;
	width:50px;
	height:50px;
	-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
}

.project_detail_box .left_container ul.list_comment li .avtar img{
	width:50px;
	height:50px;
	-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;
}
.project_detail_box .left_container ul.list_comment li .post_img{
	float:left;
	width:50px;
	height:50px;

}
.project_detail_box .left_container ul.list_comment li .dtl_box{
	width:90%;
	float:left;
	padding-left:20px;
}
.project_detail_box .left_container ul.list_comment li .dtl_box h4{
	font-size:16px;
	margin:5px 0 20px;
	font-family: 'open_sansbold';
	padding:0px;
}

.project_detail_box .left_container ul.list_comment li .dtl_box p{
	font-size:14px;
	margin:15px 0 0px;
	line-height:22px;
	padding:0px;
	color:#525f71;
}
.project_detail_box .left_container ul.list_comment li .dtl_box .info_text{
	font-size:12px;
	color:#b9bec6;
	font-family: 'open_sanssemibold';
}
.project_detail_box .left_container ul.list_comment li .dtl_box .img_text{
	font-size:12px;
	color:#b9bec6;
	margin-top:10px;
	font-family: 'open_sanssemibold';
}
.project_detail_box .left_container ul.list_comment li .dtl_box .responsive_img img{
	border:#c9c9c9 solid 1px;
	max-width:360px;
	margin-top:10px;

}
.project_detail_box .left_container ul.list_comment li .dtl_box .text_box{
	width:94.4%;
	background-color:#f4f6fa;
	padding:20px 20px 20px 20px;
	border:#dce3ef solid 1px;
	font-size:14px;
	color:#525f71;
	
		font-family: 'open_sansregular';
	-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
}
.project_detail_box .left_container ul.list_comment li .dtl_box .text_box:focus{
	outline:none;
	background-color:#fff;
}

.project_detail_box .left_container ul.list_comment li .dtl_box .bottom_box{
	padding:15px 0 0 0;

}
.project_detail_box .left_container ul.list_comment li .dtl_box .bottom_box .attachment_box{
	padding:15px 0 0 0;
	width:250px;
	float:left;
}

.project_detail_box .left_container ul.list_comment li .dtl_box .bottom_box .attachment_box img{
	margin-right:5px;
	position:relative;
	top:2px;

}

.project_detail_box .left_container ul.list_comment li .dtl_box .bottom_box .submit_box{
	padding:0px 0 0 0;
	width:245px;
	float:right;
	text-align:right;
}

.comment_btn{
	padding:14px 26px 14px 26px;
	position:relative;
		font-size:15px;
	font-family: 'proxima_nova_rgbold';
	-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
	display:inline-block;
	text-decoration:none;
	border:none;
	cursor:pointer;
}

.cancel_btn{
	padding:14px 10px 14px 10px;
	position:relative;
		font-size:14px;
		background:transparent;

	display:inline-block;
	text-decoration:none;
	border:none;
	cursor:pointer;
	color:#5a64e7;
	text-decoration:underline;
}
.right_container{
	width:300px;
	float:right;
	padding:28px 28px 30px 28px;
}

.right_container ul.box_list{
	margin:0px;
	padding:0px;
}

.right_container ul.box_list li{
	margin:0px 0 25px;
	padding:0px 0 25px;
	border-bottom:#d7d7d7 solid 1px;
	list-style:none;
}

.right_container ul.box_list li:last-child{
	margin:0px 0 0px;
	padding:0px 0 0px;
	border-bottom:none;
	
}
.right_container ul.box_list li h5{
	text-transform:uppercase;
	font-family: 'open_sansbold';
	color:#525f71;
	margin:0 0 17px 0;
}
.right_container ul.box_list li .col_four{
	padding:0px;
	margin-top:20px;
	color:#525f71;
	line-height:18px;
}


.right_container ul.box_list li .col_four span{
	display:block;
	color:#525f71;
	font-family: 'open_sansbold';
	
	}

.right_container ul.box_list li p{
	color:#525f71;
	margin-bottom:20px;
}	

.right_container ul.box_list li p span{
	color:#525f71;
	padding-left:15px;
	display:inline-block;
	font-family: 'open_sansbold';
}
.right_container ul.box_list li a.btn_large {
	padding:17px 35px 18px 35px;
	position:relative;
}
.right_container ul.box_list li a.btn_large img{
	position:relative;
	left:0px;
	top:5px;
	margin-right:10px;
}

.right_container ul.box_list li a.black{
padding:12px 20px 17px 20px;
}	

.right_container ul.box_list li a.gray{
padding:12px 20px 17px 20px;
}

.center_container {
max-width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.clear {
	clear: both;
}

.attachment_box {
    margin-top: -0.5em;
    font-size: 0.9em; }

input[type="submit"][disabled] {
    opacity: 0.5; }

.tablesorter-headerAsc .sort-carot {
    background-image: url('/images/sort-asc-icon.png');
    background-size: contain;
    position:relative;
    top: 0.5em;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background-repeat: no-repeat; }

.tablesorter-headerDesc, 
.tablesorter-headerAsc  {
    padding-top: 13px !important;
}

.tablesorter-headerDesc .sort-carot {
    background-image: url('/images/sort-desc-icon.png');
    background-size: contain;
    width: 1.5em;
    position: relative;
    top: 0.5em;
    height: 1.5em;
    display: inline-block;
    background-repeat: no-repeat; }

.tablesorter-header .tablesorter-header-inner {
    cursor: pointer; }

.tablesorter-header {
    padding-right: 0;
}

#development-type {
    visibility: hidden; }

#project-cancel {
    opacity: 0.75;
    }

.file-upload-container input {
    display: inline-block; 
    width: 12em;
    clear:none;
    margin-right: 1em; }

.file-upload-container a.clear-file-upload {
    font-weight: bold;
    cursor: pointer;
    color: #d21; }
