<p>Hey <%= @resource.first_name %>!</p>

<p>It looks like you requested a link to change your password.  You can do so by clicking the link below.</p>

<p><%= link_to 'Reset my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn’t request this, please ignore this email.  Your password will stay the same until you click the link above and create a new one.</p>

<p>-Bento</p>
