<head>
  <meta charset="utf-8">
  <title>Bento: Design For Marketing, Made Easy</title>
  <meta name="description" content="Bento helps marketing people work with expert designers and front-end developers to get more done. Get white papers, landing pages, and social content done now.">
  <meta name="keywords" content="Design, marketing, designer, developer, landing, page, white, paper, expert">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Roboto:300,regular,500"]
      }
    });
  </script>
  <%= javascript_include_tag 'application' %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/js/jquery.tablesorter.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/ui-lightness/jquery-ui.css"> -->
  <script src="//load.sumome.com/" data-sumo-site-id="2c5c816a6e10e8cbb714f44340df62cc0c30cf766e79af219158d990a2349eda" async="async"></script>
</head>